<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>328213833273-2nre1g4jgmbil1nk8klpfvpisvd2ki6c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.328213833273-2nre1g4jgmbil1nk8klpfvpisvd2ki6c</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>328213833273-17hehs1u4l3lreqa9sl5hb9okthic5jq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBwDhzS1pLZ74YdQhGcPyCO82God8zQs3M</string>
	<key>GCM_SENDER_ID</key>
	<string>328213833273</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.launmax</string>
	<key>PROJECT_ID</key>
	<string>launmax-52d75</string>
	<key>STORAGE_BUCKET</key>
	<string>launmax-52d75.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:328213833273:ios:9089fe4b300a90a46b0fe8</string>
	<key>DATABASE_URL</key>
	<string>https://launmax-52d75.firebaseio.com</string>
</dict>
</plist>